:root {
    --mix_purple: rgb(165, 58, 241);
    --mix_red: rgb(247, 36, 91);
    --mix_pink: rgb(245, 109, 195);
    --mix_blue: rgb(128, 222, 243);
  }

@font-face {
    font-family: login-screen-title;
    src: url("~/public/assets/fonts/GothamBold.ttf")
} 

@font-face {
    font-family: form-labels;
    src: url("~/public/assets/fonts/GothamBook.ttf")
}

/* @font-face {
    font-family: form-text;
    src: url("../public/assets/fonts/Gotham-XLight.otf")
} */

#login-background {
    height: 100vh;
    width: 100vw; 
    z-index: 1;
    overflow: hidden;
    position: relative;
    background-color: black;
}

 /*video settings*/
#login-video {
    filter: blur(15px);
    position: absolute;
    width: 125%;
    top: -200px;
    z-index: -1;
}

#login-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    z-index: -1;
    flex-direction: row;
    justify-content: flex-end;
}

#login-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-self: flex-end;
    height: 100vh;
    width: 60%;
    z-index: 1;
    background-color: rgba(57, 21, 82, 0.9);
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.64);
}

#title-container {
    display: flex;
    flex: 1;
    padding-left: 60px;
    align-items: center;
}

#title-img {
    max-height: 170px;
}

#form-container {
    padding-top: 20px;
    padding-left: 60px;
    flex: 2;
}

#login-form {
    position: absolute;
    z-index: 10   
}

#user-label {
    font-family: form-labels;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

#pass-label {
    font-family: form-labels;
    font-size: 20px;
    color: white;
}

.input-field-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-field-icon {
    max-width: 46px;
    max-height: 46px;
    margin: 0px;
}

input[type=text], input[type=password] {
    font-family: form-labels;
    width: 600px;
    padding: 15px 20px 15px;
    display: inline-block;
    font-size: 15px;
    border: none;
}

#remember-login {
    font-family: form-labels;
    font-size: 15px;
    margin-top: 40px;
    color: white;
}

#login-btn {
    height: 75px;
    width: 200px;
    border: none;
    font-family: login-screen-title;
    font-size: 30px;
    margin-top: 50px;
    color: white;
    background-color: var(--mix_blue);
    cursor: pointer;
    transition-duration: 0.1s;
}

#login-btn:hover {
    background-image: linear-gradient(to left, #f67cc9, #fa6db7, #fc5da4, #fd4d90, #fc3c7a, #fb307a, #fa207b, #f9007c, #f30097, #e500b4, #cd1ad3, #a53af1);
    transform: scale(1.1);
    transition-duration: 0.1s;
}

#forgot-btn {
    height: 30px;
    width: 400px;
    margin-top: 25px;
    padding: 5px 5px 5px 5px;
    font-family: form-labels;
    background-color: rgba(96, 58, 241, 1);
    color: white;
    border: none;
    cursor: pointer;
    transition-duration: 0.1s;
}

#forgot-btn:hover {
    background-color: white;
    color: var(--mix_red);
    transition-duration: 0.1s;
}